* {
	font-family: Georgia, Verdana;
}
body {
	width: 75ch;
	margin: auto;
	background-color: #C4C4C4;
}
p, ul, ol, a {
	font-size: 18px;
	line-height: 1.5em;
}
header {
	font-size: 1.1em;
}
section {
	border: 1px solid;
	margin: 10px 10px 10px 0px;
	padding: 10px 10px 10px 10px;
}
img {
	width: 100%;
}



table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr {
    background-color: #dddddd;
}