/*
FILE NAME: style.css
WRITTEN BY: All
WHEN: Autum 2016
PURPOSE: provide styles to all sub-sites on the NTNUI swing and
folkedans-site.
*/

/* General styles for font and body */
* {
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Verdana";
}
h1 {
	text-align: center;
}
html, body {
	height: 100%;
}
p, article {
	line-height: 1.5;
	font-size: 16px;
}
a {
	color: black;
}

/* Styles for the footer
The footerWrapper pushes the footer wrapper to the bottom of the
paged regardless if there is content in it or not*/
#footerWrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	margin-bottom: 35px;
}
footer{
	height: 35px; 
	padding: 2% 0;
	background-color: #0D333F;
	color: #3C9AA5;
	width: 100%;
	text-align: center;
}
footer > ul > li{ /* gjøre de tre li elementene fine */
	display: inline;
	list-style-type: none;
	padding: 0 2%;
	width: 100%;
}
/* Cover og Navbar
WRITTEN BY: Tinus Flagstad
Lage en navbar som ser fin ut både på mobil og desktop. Mye av CSSen her blir også brukt til
treningsbaren på treninger og english-sidene.
*/
#cover {
	width: 100%;
}

#navbarID, #treningList { 
	list-style-type: none; /* vil ikke ha vanlig boks ved navbaren */
	overflow: hidden;
	background-color: #3C9AA5;
	margin-top:-7px;
	margin-bottom: 20px; /* vil ha litt plass under navbaren før det kommer andre ting. */
}
ul.navbarClass li, #treningList li {
	float: left; /* Så navbaren blir horisontal og ikke vertikal. */
}
ul.navbarClass li a, #treningList li a {
	display: inline-block; /* Så knappene blir større uten å gjøre teksten større.*/
	color: black;
	padding: 14px 16px; /* mellomrom mellom knappene */
	text-decoration: none; /* fjerne streken under ordene */
	transition: 0.4s; /*hvor lang tid det tar for knapper på navbaren til å få en hvit-ish farge når du hooverer over dem*/
}
ul.navbarClass li a:hover, #current, #treningList li a:hover, .current {
	background-color: #F3EBD7;
}
ul.navbarClass li.icon {
	display: none; /*som vanlig skal ikke meny-knappen være synlig, bare når vinduet blir lite/ mobil */
}
#navbarMenuBtn {
	font-size: 14px; /* etter mye justering er 14piksler den som passer best for de fleste browsere.*/
}

/* 
WRITTEN BY: Sigve S. Nordgaard;
Style for faq.html excluding the navbar. 
All id's marked with faq.
*/

/* Provides padding for the main content of the page */
#faqWrapper{
	padding: 0 15% 10%;
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: inline-block;
	width: 70%;
}
/* List containing the anwers and questions of the faq */
#faqID{
	min-width: 100%;
	list-style-type: none;
	margin-top: 50px;
	display: inline-block;
	text-align: left;
}
/* Main header of the page */
#faqHeader{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
/* Questions of the faq */
#faqID .question{
	color: #3C9AA5;
	font-weight: bold;
	margin-top: 2em;
	position: relative;
	width: 90%;
}
/* Answers to the faq, initially hidden */
#faqID .answer{
	display: none;
	position: relative;
	width: 70%;
}
/* the clickable pluss symbol positioned relative to the 
anwer class. Has transparent background and outline. Changes
color when the hoveres over by the pointer */
#faqID .pluss{
	position: absolute;
	right: -10%;
	bottom: 0px;
	color: #3C9AA5;
	font-size: 42px;
	border: none;
	background: transparent;
	text-align: center;
}
#faqID .pluss:focus{
	outline: none;
}
#faqID .pluss:hover{
	color: #0D333F;
}
/* Sets a horizontal line after every second child of the
question class, that is the lines between the different 
questions of the faq */
#faqID > .question:nth-child(n+2):after {
	content: "";
	display: block;
	width: 110%;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #3C9AA5;
	margin: 1em 0;
	padding: 0; 
}
/* Anchor element containing the href to the last answer */
#faqID a{
	color: inherit;
	font-weight: inherit;
	text-decoration: inherit;

}
/* List in the last question of the faqx*/
#faqID #a8 ul{
	margin-left: 5%;
	list-style-type: square;
}

/*TRENING
WRITTEN BY: Morten & Tinus Flagstad
WHEN: September 2016
PURPOSE: Få list (knappene) over tabelen (treningsInfo) og få mazemappet til høyre.
Mye av CSSen er gjenbrukt av det jeg har på navbar 100 linjer over.
*/
#treningInfo {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left:15%;
}
#treningList { /* jeg bruker samme css som navbar til treningsbaren bortsett fra dette. Fordi jeg vil ha den tynnere.*/
	margin-left:15%;
	margin-right:15%;
}
#treningList li:first-child { /* første child er h1'en "trening" så den skal ikke floate. */
	font-size: 1.5em;
	float: none;
	text-align: center;
	margin: 2%;
}
#treningsTekst {
	padding: 5%;
	border: #3C9AA5 3px solid;
}

/*OM OSS
WRITTEN BY: Hedda Nikolaisen Holmen
WHEN: Oktober 2016
PURPOSE: Få bildene til venstre på siden og teksten til høyre. Hovereffekt på bildene. 
*/
#content{/*bredde på siden*/
	width: 100%;
	margin: 0 auto;
}

#tittel{
	text-align: center;
	font-family: "Georgia", "Verdana";
	font-size: 30px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 60px;
}

#infotekst{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    color: darkgrey;
    font-size: 10px;
}

#info{/*flytter infoboks til høyre på siden*/
	width: 35%;
	float: right;
	margin: 10px 80px 100px 0px;
}

#personer {/*plasserer boksen med alle personene i*/
	width: 45%;
	height: 100%;
	margin: 0px 0px 200px 40px;
	padding-bottom: 40px;
}

.person {/*plasserer hver person relativ til hverandre*/
	position: relative;
	width: 150px;
	height: 150px;
	transition: all 0.5s;
	float: left;
	margin-left: 40px;
	margin-bottom: 40px;
}

.img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	border-radius: 50%;
}
				
.img:before, .img:after {/*styler før og etter bilde-elementet*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.5s;
}
.img:before {
	background: rgba(60, 154, 165, 0.35);
}
.img:after {
	background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.container {/*teksinnholdet*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	opacity: 0;
	text-align: center;
	color: white;
	transform: translate(-50%, -50%) scale(0.9);
	transition: all 0.5s;
}

h2:before, h2:after {/*styler før og etter h2*/
	display: inline-block;
	margin: 0 0.5em;
	width: 0.75em;
	height: 0.03em;
	vertical-align: middle;
	transition: all 0.3s;
}

.person:hover .img:before,
.person:hover .img:after,
.person:hover .container {/*bestemmer opacity når man hovrer over*/
	opacity: 1;
}
.person:hover .container {/*bestemmer hvordan teksten skal komme fram når man hovrer over*/
	transform: translate(-50%, -50%) scale(1);
}

.h2{
	font-size: 20px;
}

.desc{
	margin-top: 5px;
	font-size: 12px;
}
	 /*popout box*/
.modal {/*gjør bakgrunnen bak popoutboksen mørkere*/
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-box {/*poputboks bakgrunn*/
	background-color: white;
	border: 6px solid #3C9AA5;
	margin: 10% auto;
	padding: 20px;
	width: 60%;
}

#close1, #close2, #close3, #close4, #close5, #close6, #close7, #close8, #close9 {/*styler close-knappen*/
	color: #3C9AA5;
	float: right;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin: 0px 10px 50px 50px;
}

#close1:hover, #close1:focus, #close2:hover, #close2:focus, #close3:hover, #close3:focus, #close4:hover, #close4:focus, #close5:hover, #close5:focus, #close6:hover, #close6:focus, #close7:hover, #close7:focus, #close8:hover, #close8:focus, #close9:hover, #close9:focus {
    /*styler close-knappen når den hovres og er i focus*/
	color: #0D333F;
	text-decoration: none;
	cursor: pointer;
}
				
.modal-content{/*styler selve innholdet*/
	width: 90%;
	margin: 30px auto;
}

/*
Kontakt oss 
WRITTEN BY: Tinus Flagstad 
WHEN: September 2016
PURPOSE: lage bokser i boksen i midten på kontakt-siden.
*/
#split3Middle > div{
	padding: 20px 0;
	margin: 10px 0;
	border: 2px solid #3C9AA5;
}

/* Større desktop vindu */
@media only screen and (min-width : 940px){
	/* hjem 
	WRITTEN BY: Tinus Flagstad 
	WHEN: September 2016
	PURPOSE: få facebook-feeden og velkommen til å scale riktig.
	*/
	#floatRight {
		float: right;
		margin-right: 15%;
	}
	#floatLeft {
		margin-left: 15%;
		float: left;
		width: calc(70% - 540px);
	}
	/* kontakt oss
	WRITTEN BY: Tinus Flagstad 
	WHEN: September 2016
	PURPOSE: få de tre div'ene på kontakt til å scale riktig på desktop(altså stort vindu).
	*/
	#split3Left {
		margin-left: 15%;
		float: left;
		width: 20%;
	}

	#split3Middle {
		padding: 3%;
		margin-left: 2%;
		width: 20%;
		float: left;
		text-align: center;
		border: 2px solid #3C9AA5; /* den største boksen i midten */
		word-wrap: break-word; /*noen av e-mailene var lange og gikk uttafor boksen med noen størrelser på vinduet. */
	}

	#split3Right {
		width: 20%;
		float: right;
		margin-right: 15%;
	}
    
    /* Sier hvordan boksene skal reagere hvis skjermen blir liten. */
	#kurs1 {
		margin-left: 5%;
		float:left;
		margin-right: 2%;
	}
	#kurs2 {
		margin-right: 5%;
		float:left;
		margin-left: 2%;
	}
	#musicPrev, #musicNext{ /* gjøre knappene 30px på desktop */
		font-size: 30px;
	}
}

/* telefon eller lite vindu*/
@media only screen and (max-device-width : 940px), screen and (max-width : 940px) {
	/* hjem (eller navbaren da)
	WRITTEN BY: Tinus Flagstad 
	WHEN: Oktober 2016
	PURPOSE: mobilversjonen av navbaren, altså lage en dropdown menu når du trykker på knapp istedenfor å vise alle knappene samtidig. */
	ul.navbarClass li:not(:first-child) { 
		display: none; /* gjør alle andre knapper en hjem usynlig. */
	}
	ul.navbarClass li.icon { /*viser meny knappen og putter den til høyre. */
		float: right; 
		display: inline-block;
	}
	ul.navbarClass.responsive {
		position: relative; 
	}/* gjør at meny-knappen blir den der skal */
	ul.navbarClass.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.navbarClass.responsive li { /*gjør at knappene kommer under hverandre igjen, ikke ved siden av hverandre */
		float: none;
		display: inline;
	}
	ul.navbarClass.responsive li a {
		display: block;
		text-align: left; /* tekst skal være blokk og gå mot venstre, ikke i midten lenger */
	}
	#floatLeft {
		margin-bottom: 5%;
		margin-left: 5%;
		width: 90%;
	} /* Dette er på index.html (hjem-siden) og her kommer facebook-feed under velkomsttekst istedenfor ve siden av hverandre. */
	#floatRight {
		float: none;
		margin-left: 5%;
	}

	/* FAQ - Sigve */
	#faqWrapper{
		padding: 0 10% 20%; 
	}
	#faqID > .question:nth-child(n+2):after {
		width: 120%;
	}
	#faqID .pluss{
		right: -20%;
		bottom: 30%;
	}
	#faqID .answer{
		width: 90%;
	}
	/* kontakt oss
	WRITTEN BY: Tinus Flagstad 
	WHEN: September 2016
	PURPOSE: få de tre Div'ene til å være under hverandre istedenfor ved siden av hverandre. og mindre margin på siden.
	*/

	#split3Left {
		margin-left: 5%;
		float: none;
		width: 90%;
	}

	#split3Middle {
		margin: 5%;
		padding: 5%;
		width: 80%;
		float: none;
		text-align: center;
		border: 2px solid #3C9AA5;
	}

	#split3Right {
		width: 90%;
		float: none;
		margin-left: 5%;
	}
     /* Sier hvordan eksterne kurs siden skal reagere hvis skjermen blir liten. */
	#eksternTittel {
		text-align: center;
		padding-bottom: 10px;
	}
	#kurs1, #kurs2 {
		margin-left: 20%;
		margin-right: 0;
		float: none;
		margin-bottom: 2%;
	}
	/* gjøre margin mindre på treningssiden*/
	#treningList, #treningInfo {
		margin-left: 5%;
		margin-right: 5%;
	}
	#musicPrev, #musicNext{ /* gjøre knappene 30px på desktop */
		font-size: 30px;
	}
}
/* bare telefon */
@media only screen and (max-device-width : 940px){
	p, article, .navbarClass, li, footer, table, #navbarMenuBtn { /* større tekst på mobil */
		font-size: 48px;
	}
	h1,h2,h2, #tittel, #faqHeader {
		font-size: 2em;
	}

	#split3Middle > div {
		font-size: 40px;
	}

	#close1, #close2, #close3, #close4, #close5, #close6, #close7, #close8, #close9, #faqID .pluss, #musicPrev, #musicNext {
		font-size: 80px; /* større knapper på mobil */
	}
	#musicInfo1, #musicInfo2, #musicInfo3 {
		font-size: 60px;
	}

	#facebookFeed, #mazeMapIframe, #musiciFrame1, #musiciFrame2, #musiciFrame3 {
		transform:scale(1.8); /*scaler alle iframe på mobil, både mazemap, facebook og spotify.*/
		margin: 200px;
	}
	#footerWrapper{
		margin-bottom: 100px; /*større footer og footerplass på mobil*/
	}
	footer{
		height: 100px; 
	}
	p{
		font-size: 14px;
	}
	/* Om oss*/
	#personer {/*plasserer boksen med alle personene i*/
	width: 80%;
	height: 100%;
	margin-left: 8%;
	padding-bottom: 40px;
	}

	#info{/*flytter infoboks til høyre på siden*/
	width: 80%;
	margin: 10px 80px 100px 0px;
	}
}
/* Eksterne kurs */
#kurs1, #kurs2 {
	text-align: center;
	padding: 2% 0;
	width: 40%;
	height: 20%;
	border: 4px dashed lightblue; 
}

#eksternTittel {
	text-align: center;
	padding: 20px;
}
#boxes {
	padding-top: 20px;
}
#tekst1 {
	margin-left: 15%;
	margin-right: 15%;
}

/*Musikk
WRITTEN BY: Ebba Fingarsen
WHEN: September 2016
PURPOSE: få de tre busikkboksene til å være vesiden av hverandre på midten av siden(endring av margin), og styling og plassering av knapper.
*/
#musicBox1, #musicBox2, #musicBox3 {
	float: left;
	margin: 2%; 
}

#musicBox1{
	padding: 2%;
	margin-left: 8%;
}

#musicBox2{
	padding: 2%;
	margin-left: 8%;
}

#musicBox3{
	padding: 2%;
	margin-left: 8%;
	margin-right: 8%;
}

/* styling av knapper */
#musicPrev, #musicNext{
	opacity:0.6;
	background-color: #3C9AA5;
	padding: 30px 20px;
	border:none;
	border-radius: 5px;
}

/* endring av opacity ved hover for å vise at det er en knapp */
#musicPrev:hover, #musicNext:hover{
	opacity:0.8;
}

/* posisjonerer "musicPrev"-knapp fixed og til venstre av musikk siden*/
#musicPrev{
	position: fixed;
	left: 0px;
	top: 50%;
}

/* posisjonerer "musicNext"-knapp fixed og til høyre av musikk siden*/
#musicNext{
	position: fixed;
	right: 0px;
	top: 50%;
}
