* {
	margin: 0;
    padding: 0;
	font-family: Georgia, Verdana;
}
body {
	margin: auto;
	font-size: 16px;
	line-height: 1.5;
}
#cover {
	width: 100%;
	z-index: -2;
}
#coverBox {
	position: absolute;
	background-color: #f4ecd7;
	z-index: 1;
	top:2%;
}
.coverText {
	margin: 10% 25%;
	line-height: 1.2;
	text-align: center;
	font-size: 3em;
}
#facebookFeed {
	float: right;
}
#navbar {
	margin-top: -6px;
	list-style-type: none;
    overflow: hidden;
    background-color: #47a1a7;
}
#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
#navbar li {
	float: left;
}
#navbar li a:hover {
    background-color: #f4ecd7;
}
article {
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
}

@media (max-width: 940px) {
	article {
	width: 95%;
	} p {
    	color: red;
    }
}