* {
	font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Verdana";
}
p, article {
	line-height: 1.5;
}

/* Cover og Navbar */
#cover {
	width: 100%;
}

#navbarID {
  list-style-type: none;
  overflow: hidden;
  background-color: #3C9AA5;
  margin-top:-7px;
  margin-bottom: 20px;
}
ul.navbarClass li {
	float: left;
}
ul.navbarClass li a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s;
}
ul.navbarClass li a:hover, #current {
	background-color: #F3EBD7;
}
ul.navbarClass li.icon {
	display: none;
}
#navbarMenuBtn {
	font-size: 13px;
}

/* FAQ - Sigve */
#faqWrapper{
  padding: 0 15% 10%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: inline-block;
  width: 70%;
}
#faqID{
  min-width: 100%;
  list-style-type: none;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  text-align: left;
}
#faqHeader{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
#faqID .question{
  color: #3C9AA5;
  font-weight: bold;
  margin-top: 2em;
  position: relative;
  width: 90%;
}
#faqID .answer{
  display: none;
  position: relative;
  width: 70%;
}

#faqID .pluss{
  position: absolute;
  right: -10%;
  bottom: 0px;
  color: #3C9AA5;
  font-size: 42px;
  border: none;
  background: transparent;
  text-align: center;
}
#faqID .pluss:focus{
  outline: none;
}
#faqID .pluss:hover{
  color: #0D333F;
}
#faqID #a8 ul{
  margin-left: 5%;
  list-style-type: square;
}
#footerWrapper{
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
#footerWrapper > footer{
  padding: 1.5% 0%;
  background-color: #0D333F;
  color: #3C9AA5;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}
#footerWrapper > footer > ul > li{
  display: inline;
  list-style-type: none;
  padding: 0 2%;
  width: 100%;
}
#faqID > .question:nth-child(n+2):after {
    content: "";
    display: block;
    width: 110%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3C9AA5;
    margin: 1em 0;
    padding: 0; 
}

/* Om oss */
#content{
    width: 80%;
    margin: 0 auto;
}

#tittel{
    text-align: center;
    font-family: "Georgia", "Verdana";
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

#info{
    width: 40%;
    float: right;
}

#personer{
    width: 50%;
    float: left;
}

/* Større desktop vindu */
@media only screen and (min-width : 940px){
  #floatRight {
  float: right;
  margin-right: 15%;
  }
  #floatLeft {
  margin-left: 15%;
  float: left;
  width: calc(70% - 540px);
  }
}

/* telefon eller lite vindu*/
@media only screen and (max-device-width : 940px), screen and (max-width : 940px) {
  ul.navbarClass li:not(:first-child) {
  	display: none;
  }
  ul.navbarClass li.icon {
    float: right;
    display: inline-block;
  }
  ul.navbarClass.responsive {
    position: relative;
  }
  ul.navbarClass.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbarClass.responsive li {
    float: none;
    display: inline;
  }
  ul.navbarClass.responsive li a {
    display: block;
    text-align: left;
  }
  #floatLeft {
  margin-left: 5%;
  width: 90%;
  }
  #floatRight {
  float: none;
  margin-left: 5%;
  }

  /* FAQ - Sigve */
  #faqWrapper{
    padding: 0 10% 20%; 
  }
  #faqID > .question:nth-child(n+2):after {
    width: 120%;
  }
  #faqID .pluss{
    right: -20%;
    bottom: 30%;
  }
  #faqID .answer{
    width: 90%;
  }
}

/* bare telefon */
@media only screen and (max-device-width : 940px){
  *, #navbarMenuBtn {
    font-size: 36px;
  }
  #facebookFeed {
    transform:scale(1.8);
    margin: 200px;
  }
  #faqID .pluss{
    font-size: 92px;
  }
}